PRIVATE_KEY=
MAINNET_RPC_URL=
MAINNET_ETHERSCAN_API_KEY=
MAINNET_USDC_ADDRESS=
MAINNET_RELAYER_ADDRESS=

MAINNET_DEST_RPC_URL=
MAINNET_DEST_TOKEN_ADDRESS=
MAINNET_OWNER_MULTISIG_ADDRESS=
MAINNET_FEE_BPS=
