PRIVATE_KEY=
ETHERSCAN_API_KEY=

RELAYER_ADDRESS=
OWNER_ADDRESS=
FEE_BPS=50

ETHEREUM_SEPOLIA_RPC_URL=
ETHEREUM_SEPOLIA_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238

BASE_SEPOLIA_RPC_URL=
BASE_SEPOLIA_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e

ARBITRUM_SEPOLIA_RPC_URL=
ARBITRUM_SEPOLIA_USDC_ADDRESS=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d

OPTIMISM_SEPOLIA_RPC_URL=
OPTIMISM_SEPOLIA_USDC_ADDRESS=0x5fd84259d66Cd46123540766Be93DFE6D43130D7

HEDERA_TESTNET_RPC_URL=
HEDERA_TESTNET_USDC_ADDRESS=

ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.io
ARC_TESTNET_USDC_ADDRESS=0x3600000000000000000000000000000000000000
